
ul.justified-list {
  list-style-type: disc;     /* Bullet type */
  margin-left: 40px;         /* Indentation for list */
  padding-left: 10px; 
  font-size: 14px;       /* Space inside list box */
  text-align: justify;
}

ul.justified-list li {
  text-align: justify;       /* Justify the text */
  margin-bottom: 10px;       /* Space between points */
}
body {
    background-color: rgb(230, 235, 241);
    cursor: default;
}
.rich-text {
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    color: #444;
    background-color: #f9f9f9;
    padding: 10px;
    border-left: 4px solid #0077cc;
    margin: 0 25%;
 }

.section {
    padding: 3rem 0;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
  }
.red-text {
    color: rgba(255, 0, 0, 0.948); /* Using a color keyword */
    font-size: 18px;
}
